<template>
  <div class="container">
    <section>
      <b-button class="discord-login-button" size="is-large" icon-left="discord">Login with Discord</b-button>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.discord-login-button {
  background-color: #7289da;
  color: #fff;
  margin: 20px auto;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
  border: none;
}
.discord-login-button:hover {
  color: #ddd;
}
</style>

<script>
export default {
  name: 'LoginComponent',
  data: () => ({
  }),
  components: {
  },
};
</script>
