<template>
  <div>
    <b-navbar type="is-dark" class="container is-fluid" fixed-top>
      <template #brand>
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          Passion Ultimate Raid Builder
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item tag="router-link" :to="{ name: 'raids' }">
          Raids
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'leaderboards' }">
          Leaderboards
        </b-navbar-item>
        <!--
        <b-navbar-item tag="router-link" :to="{ name: 'members' }">
          Members
        </b-navbar-item>
        -->
      </template>
      <template #end>
        <b-navbar-item tag="div">
          <b-button type="is-primary" @click="isCreateRaidModalActive = true">
            Create Raid
          </b-button>
        </b-navbar-item>
      </template>
    </b-navbar>
    <b-modal v-model="isCreateRaidModalActive" has-modal-card scroll="keep">
      <form action="">
        <div class="modal-card" style="max-width: 350px;">
          <header class="modal-card-head">
            <p class="modal-card-title">Create Raid</p>
            <button
              type="button"
              class="delete"
              @click="isCreateRaidModalActive = false"/>
          </header>
          <section class="modal-card-body" v-show="!fetchingRaid">
            <b-field label="Name">
              <b-input
                v-model="name"
                required>
              </b-input>
            </b-field>

            <b-field label="Channel">
              <b-select placeholder="Select a channel" expanded v-model="channel">
                <option
                  v-for="channel in channels"
                  :value="channel.id"
                  :key="channel.id">
                  {{ channel.name }}
                </option>
              </b-select>
            </b-field>
            <b-field label="Type">
              <b-radio v-model="type"
                  name="type"
                  native-value="ICC">
                ICC
              </b-radio>
              <b-radio v-model="type"
                  name="type"
                  native-value="RS">
                RS
              </b-radio>
              <b-radio v-model="type"
                  name="type"
                  native-value="TOGC">
                TOGC
              </b-radio>
            </b-field>
          </section>
          <section class="modal-card-body" v-show="fetchingRaid">
            <div class="has-text-centered">Preparing Flasks!</div>
            <div class="mt-5">
              <b-progress/>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button
              :disabled="fetchingRaid || name === ''"
              label="Create"
              type="is-primary"
              @click="createRaid" />
          </footer>
        </div>
      </form>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data: () => ({
    isCreateRaidModalActive: false,
    name: '',
    channel: null,
    type: 'ICC',
    fetchingRaid: false,
  }),
  computed: {
    ...mapState([
      'channels',
    ]),
  },
  mounted() {
    this.$store.dispatch('get_channels');
  },
  methods: {
    resetForm() {
      this.fetchingRaid = false;
      this.type = 'ICC';
      this.name = '';
    },
    createRaid() {
      this.fetchingRaid = true;
      const data = {
        name: this.name,
        channel: this.channel,
        type: this.type,
      };
      fetch('/api/v1/raids/create', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      }).then((response) => response.json())
        .then((responseData) => {
          this.$router.push({
            name: 'raidEditor',
            params: { id: responseData.id },
          });
          this.isCreateRaidModalActive = false;
          this.resetForm();
        });
    },
  },
  components: {
  },
};
</script>
