<template>
  <b-button class="player-button" :class="classes" @click="$emit('click')" :icon-left="preferred ? 'check-outline' : ''">
    <slot/>
  </b-button>
</template>

<style lang="scss">
</style>

<script>
export default {
  data: () => ({
    classesPerSpec: [
      ['dk-bg', 'dk-blood-bg-image'],
      ['dk-bg', 'dk-blood-bg-image'],
      ['dk-bg', 'dk-frost-bg-image'],
      ['dk-bg', 'dk-frost-bg-image'],
      ['dk-bg', 'dk-unholy-bg-image'],
      ['druid-bg', 'druid-balance-bg-image'],
      ['druid-bg', 'druid-feral-bear-bg-image'],
      ['druid-bg', 'druid-feral-cat-bg-image'],
      ['druid-bg', 'druid-restoration-bg-image'],
      ['hunter-bg', 'hunter-beast-mastery-bg-image'],
      ['hunter-bg', 'hunter-marksmanship-bg-image'],
      ['hunter-bg', 'hunter-survival-bg-image'],
      ['mage-bg', 'mage-arcane-bg-image'],
      ['mage-bg', 'mage-fire-bg-image'],
      ['mage-bg', 'mage-frost-bg-image'],
      ['paladin-bg', 'paladin-holy-bg-image'],
      ['paladin-bg', 'paladin-prot-bg-image'],
      ['paladin-bg', 'paladin-retribution-bg-image'],
      ['priest-bg', 'priest-discipline-bg-image'],
      ['priest-bg', 'priest-holy-bg-image'],
      ['priest-bg', 'priest-shadow-bg-image'],
      ['rogue-bg', 'rogue-assasination-bg-image'],
      ['rogue-bg', 'rogue-combat-bg-image'],
      ['rogue-bg', 'rogue-subtlety-bg-image'],
      ['shaman-bg', 'shaman-elemental-bg-image'],
      ['shaman-bg', 'shaman-enhancement-bg-image'],
      ['shaman-bg', 'shaman-restoration-bg-image'],
      ['warlock-bg', 'warlock-affliction-bg-image'],
      ['warlock-bg', 'warlock-demonology-bg-image'],
      ['warlock-bg', 'warlock-destruction-bg-image'],
      ['warrior-bg', 'warrior-arms-bg-image'],
      ['warrior-bg', 'warrior-fury-bg-image'],
      ['warrior-bg', 'warrior-protection-bg-image'],
    ],
  }),
  props: {
    spec: Number,
    rank: Number,
    preferred: Boolean,
  },
  components: {
  },
  computed: {
    classes() {
      return this.classesPerSpec[this.spec].join(' ');
    },
    rankColorClass() {
      const ranks = {
        100: 'gm-text',
        90: 'officer-text',
        80: 'assistant-text',
        70: 'core-raider-text',
        60: 'raider-text',
        50: 'member-text',
        40: 'trial-text',
        30: 'initiate-text',
      };
      if (ranks[this.rank]) {
        return ranks[this.rank];
      }
      return '';
    },
  },
};
</script>
