<template>
  <div>
    <b-tooltip size="is-large" v-for="signup in signups" :key="signup.id">
      <PlayerButton :playerClass="playerClass" :playerSpec="playerSpec">
        {{ member(signup.author.id).nick || member(signup.author.id).username }}
      </PlayerButton>
      <template v-slot:content>
        <pre>{{ signup.content }}</pre>
      </template>
    </b-tooltip>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import PlayerButton from '@/components/PlayerButton.vue';

export default {
  data: () => ({
  }),
  props: [
    'playerClass',
    'playerSpec',
    'signups',
    'members',
  ],
  components: {
    PlayerButton,
  },
  computed: {
  },
  methods: {
    member(playerId) {
      return this.members.find((member) => member.id === playerId);
    },
    pickup(playerId, playerClass, playerSpec) {
      this.$emit('pickup', playerId, playerClass, playerSpec);
    },
  },
};
</script>
