@import "~bulma/sass/utilities/mixins.sass";

@include mobile {
    .container.is-fluid {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.navbar-brand {
   font-weight: bold;
}
.b-tabs .tab-content {
    padding: 1rem 0;
}
.table td, table th {
  vertical-align: middle;
}


.dk-bg {
    background-color: #c43b52;
}
.dk-blood-bg-image {
    background-image: url('~@/assets/spell_deathknight_bloodpresence.jpg');
}
.dk-frost-bg-image {
    background-image: url('~@/assets/spell_deathknight_frostpresence.jpg');
}
.dk-unholy-bg-image {
    background-image: url('~@/assets/spell_deathknight_unholypresence.jpg');
}
.druid-bg {
    background-color: #ff9900;
}
.druid-feral-bear-bg-image {
    background-image: url('~@/assets/ability_racial_bearform.jpg');
}
.druid-feral-cat-bg-image {
    background-image: url('~@/assets/ability_druid_catform.jpg');
}
.druid-restoration-bg-image {
    background-image: url('~@/assets/spell_nature_healingtouch.jpg');
}
.druid-balance-bg-image {
    background-image: url('~@/assets/spell_nature_starfall.jpg');
}
.hunter-bg {
    background-color: #aad372;
}
.hunter-beast-mastery-bg-image {
    background-image: url('~@/assets/ability_hunter_beasttaming.jpg');
}
.hunter-survival-bg-image {
    background-image: url('~@/assets/ability_hunter_swiftstrike.jpg');
}
.hunter-marksmanship-bg-image {
    background-image: url('~@/assets/ability_marksmanship.jpg');
}
.mage-bg {
    background-color: #3fc7eb;
}
.mage-frost-bg-image {
    background-image: url('~@/assets/spell_frost_frostbolt02.jpg');
}
.mage-fire-bg-image {
    background-image: url('~@/assets/spell_fire_firebolt02.jpg');
}
.mage-arcane-bg-image {
    background-image: url('~@/assets/spell_holy_magicalsentry.jpg');
}
.paladin-bg {
    background-color: #f48cba;
}
.paladin-prot-bg-image {
    background-image: url('~@/assets/spell_holy_devotionaura.jpg');
}
.paladin-retribution-bg-image {
    background-image: url('~@/assets/spell_holy_auraoflight.jpg');
}
.paladin-holy-bg-image {
    background-image: url('~@/assets/spell_holy_holybolt.jpg');
}
.priest-bg {
    background-color: #ffffff;
}
.priest-shadow-bg-image {
    background-image: url('~@/assets/spell_shadow_shadowwordpain.jpg');
}
.priest-discipline-bg-image {
    background-image: url('~@/assets/spell_holy_powerwordshield.jpg');
}
.priest-holy-bg-image {
    background-image: url('~@/assets/spell_holy_guardianspirit.jpg');
}
.rogue-bg {
    background-color: #fff468;
}
.rogue-assasination-bg-image {
    background-image: url('~@/assets/ability_rogue_eviscerate.jpg');
}
.rogue-combat-bg-image {
    background-image: url('~@/assets/ability_backstab.jpg');
}
.rogue-subtlety-bg-image {
    background-image: url('~@/assets/ability_stealth.jpg');
}
.shaman-bg {
    background-color: #2c86dd;
}
.shaman-enhancement-bg-image {
    background-image: url('~@/assets/spell_nature_lightningshield.jpg');
}
.shaman-restoration-bg-image {
    background-image: url('~@/assets/spell_nature_magicimmunity.jpg');
}
.shaman-elemental-bg-image {
    background-image: url('~@/assets/spell_nature_lightning.jpg');
}
.warlock-bg {
    background-color: #8788ee;
}
.warlock-demonology-bg-image {
    background-image: url('~@/assets/spell_shadow_metamorphosis.jpg');
}
.warlock-affliction-bg-image {
    background-image: url('~@/assets/spell_shadow_deathcoil.jpg');
}
.warlock-destruction-bg-image {
    background-image: url('~@/assets/spell_shadow_rainoffire.jpg');
}
.warrior-bg {
    background-color: #c69b6d;
}
.warrior-arms-bg-image {
    background-image: url('~@/assets/ability_warrior_savageblow.jpg');
}
.warrior-fury-bg-image {
    background-image: url('~@/assets/ability_warrior_innerrage.jpg');
}
.warrior-protection-bg-image {
    background-image: url('~@/assets/ability_warrior_defensivestance.jpg');
}


.dk-blood-bg-image,
.dk-frost-bg-image,
.dk-unholy-bg-image,
.paladin-prot-bg-image,
.paladin-retribution-bg-image,
.paladin-holy-bg-image,
.priest-holy-bg-image,
.priest-shadow-bg-image,
.priest-discipline-bg-image,
.rogue-combat-bg-image,
.rogue-subtlety-bg-image,
.rogue-assasination-bg-image,
.druid-feral-bear-bg-image,
.druid-feral-cat-bg-image,
.druid-restoration-bg-image,
.druid-balance-bg-image,
.hunter-beast-mastery-bg-image,
.hunter-marksmanship-bg-image,
.hunter-survival-bg-image,
.mage-frost-bg-image,
.mage-fire-bg-image,
.mage-arcane-bg-image,
.warrior-arms-bg-image,
.warrior-fury-bg-image,
.warrior-protection-bg-image,
.shaman-enhancement-bg-image,
.shaman-restoration-bg-image,
.shaman-elemental-bg-image,
.warlock-demonology-bg-image,
.warlock-affliction-bg-image,
.warlock-destruction-bg-image,
{
    background-size: contain;
    background-repeat: no-repeat;
}

.player-button {
    color: #000;
    font-weight: 500;
    padding: 0 10px 0 35px;
    margin-bottom: 5px;
    height: 25px;
    margin-right: 5px;
    font-size: 0.9rem;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    border: none;
    border-radius: 0;

    text-overflow: ellipsis;
    text-shadow: 1px 1px rgba(0,0,0,0.25);
    white-space: nowrap;
    overflow: hidden;
}
.player-button:active {
    border: none;
}

.gm-text {
}
.officer-text {
}
.assistant-text {
}
.core-raider-text {
}
.raider-text {
}
.member-text {
}
.trial-text {
}
.initiate-text {
}
