<template>
  <div id="app">
    <NavBar/>
    <div class="container is-fluid main">
      <router-view :key="$route.fullPath"/>
    </div>
  </div>
</template>
 
<style lang="scss" scoped>
.main {
  margin-top: 18px;
}
</style>

<script>
import NavBar from '@/components/NavBar.vue';

export default {
  data: () => ({
  }),
  components: {
    NavBar,
  },
};
</script>
