<template>
  <div v-if="members.length > 0">
    <div class="columns is-multiline">
      <div class="column is-4-fullhd is-12">
        <section class="hero">
          <div class="hero-body">
            <p class="title">
              Passion Leaderboards
            </p>
            <p class="subtitle">
              Most Played Specs By Player
            </p>
          </div>
        </section>
      </div>
      <div class="column is-2-fullhd is-3-desktop is-4-tablet" v-for="raid in raidTypes" :key="'most_active_by_raid_type' + raid">
        <h2>Most Active Players<br>({{ raid }})</h2>
        <ol>
          <li v-for="player in mostActivePlayers(raid)" :key="'mostActivePlayers_' + raid + '_' + player.id">
            <PlayerButton :spec="mostPlayedSpec(raid, player.id)" @click="goToPlayer(player.id)">
              {{ player.nick || player.username }} ({{ player.pickups.count[raid] }})
            </PlayerButton>
          </li>
        </ol>
      </div>
    </div>
    <b-tabs type="is-boxed" :animated="false" expanded>
      <b-tab-item :label="raid" v-for="raid in raidTypes" :key="raid + '_tab'">
        <div class="roles" v-for="role in Object.keys(listing)" :key="role">
          <h1>{{ role }}</h1>
          <div class="columns is-multiline">
            <div class="column is-2-fullhd is-3-desktop is-4-tablet" v-for="spec in listing[role]" :key="spec">
              <h2 class="roleHeader">{{ specTexts[spec].name }}</h2>
              <ol>
                <li v-for="player in mostPlayedPerSpec(raid, spec)" :key="'mostPlayedPerSpec_' + spec + '_' + player.id" v-show="player.pickups[raid][spec] > 0">
                  <PlayerButton :spec="spec" @click="goToPlayer(player.id)">
                    {{ player.nick || player.username }} ({{ player.pickups[raid][spec] }})
                  </PlayerButton>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style lang="scss" scoped>
h1 {
  font-size: 1.5em;
}
h2.roleHeader {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
h1, h2 {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  line-height: 20px;
  text-align: center;
  border-bottom: 2px solid whitesmoke;
}
.column {
  padding: 0.75em 1.5em;
}
.player-button {
  display: block;
  width: 100%;
}
div.roles {
  margin-bottom: 6em;
}
ol {
  li:nth-child(-n+3) {
    font-size: 1.25em;
    .player-button {
      height: 35px;
      font-size: 1em;
      padding-left: 2.5em;
    }
  }
}
</style>

<script>
import { mapState, mapGetters } from 'vuex';
import PlayerButton from '@/components/PlayerButton.vue';

export default {
  data: () => ({
    listing: {
      Tanks: [16, 0, 6, 32],
      Healers: [15, 26, 18, 8, 19],
      MDPS: [31, 17, 22, 7, 4, 3, 25, 21, 30, 1],
      RDPS: [13, 27, 20, 28, 10, 5, 24, 11, 29, 12, 14],
    },
    raidTypes: [
      'Total',
      'ICC',
      'RS',
      'TOGC',
    ],
    activeTab: 0,
  }),
  components: {
    PlayerButton,
  },
  computed: {
    ...mapState([
      'members',
      'specTexts',
    ]),
    pickedUpMembers: (state) => state.members.filter((m) => m.pickups != null),
    mostActivePlayers: (state) => (raid) => state.pickedUpMembers.sort((a, b) => (b.pickups.count[raid] - a.pickups.count[raid])).slice(0, 10),
    mostActivePlayer: (state) => (raid, id) => state.mostActivePlayers(raid).find((m) => m.id === id),
    mostPlayedSpec: (state) => (raid, id) => state.mostActivePlayer(raid, id).pickups[raid].indexOf(Math.max(...state.mostActivePlayer(raid, id).pickups[raid])),
    mostPlayedPerSpec: (state) => (raid, spec) => state.pickedUpMembers.sort((a, b) => (b.pickups[raid][spec] - a.pickups[raid][spec])).slice(0, 8),
  },
  methods: {
    goToPlayer(id) {
      this.$router.push({ name: 'memberDetails', params: { id } });
    },
  },
  mounted() {
    if (this.members.length === 0) {
      this.$store.dispatch('get_members');
    }
  },
};
</script>
