<template>
  <div v-if="members.length > 0" class="columns">
    <div class="column is-three-quarters">
      <b-table :data="membersSorted" :paginated="true" :per-page="18" striped>
        <b-table-column field="id" label="Name" v-slot="props">
          <router-link :to="{ name: 'memberDetails', params: { id: props.row.id } }">{{ name(props.row.id) }}</router-link>
        </b-table-column>
      </b-table>
    </div>
    <div class="column">
    </div>
  </div>
</template>

<style lang="scss">
</style>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  data: () => ({
  }),
  computed: {
    ...mapGetters([
      'name',
    ]),
    ...mapState([
      'members',
    ]),
    membersSorted: (state) => state.members.slice().sort((a, b) => b.rank - a.rank),
  },
  methods: {
  },
  mounted() {
    if (this.members.length === 0) {
      this.$store.dispatch('get_members', this.$route.params.id);
    }
  },
};
</script>
