<template>
  <div v-if="member">
    <section class="hero">
      <div class="hero-body">
        <p class="title">
          {{ member.nick || member.username }}
        </p>
        <p class="subtitle">
          <span :class="rank.style">{{ rank.name }}</span>
        </p>
      </div>
      <div class="columns" v-if="member.pickups">
        <div class="column is-3-fullhd is-5-desktop is-12-tablet mt-3">
          <Pie :chart-data="rolesChartData"/>
        </div>
        <div class="column">
          <b-table :data="specs" :columns="columns" default-sort-direction="desc"></b-table>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss">
</style>

<script>
import { mapState, mapGetters } from 'vuex';
import PlayerButton from '@/components/PlayerButton.vue';
import { Pie } from 'vue-chartjs';
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
} from 'chart.js';

ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale);

export default {
  data: () => ({
    id: null,
    loaded: false,
  }),
  computed: {
    ...mapState([
      'raid',
      'members',
      'specTexts',
    ]),
    member: (state) => state.members.find((m) => m.id === state.id),
    name: (state) => state.member.nick || state.member.username,
    rank: (state) => {
      if (state.member.rank === 100) {
        return { name: 'GM', style: 'gm-text' };
      }
      if (state.member.rank === 90) {
        return { name: 'Officer', style: 'officer-text' };
      }
      if (state.member.rank === 80) {
        return { name: 'Assistant', style: 'assistant-text' };
      }
      if (state.member.rank === 70) {
        return { name: 'Core Raider', style: 'core-raider-text' };
      }
      if (state.member.rank === 60) {
        return { name: 'Raider', style: 'raider-text' };
      }
      if (state.member.rank === 50) {
        return { name: 'Member', style: 'member-text' };
      }
      if (state.member.rank === 40) {
        return { name: 'Trial', style: 'trial-text' };
      }
      if (state.member.rank === 30) {
        return { name: 'Initiate', style: 'initiate-text' };
      }
      return { name: 'Social', style: 'social-text' };
    },
    columns: (state) => [
      {
        field: 'spec',
        label: 'Spec',
        subheading: 'Total',
      },
      {
        field: 'icc',
        label: 'ICC',
        numeric: true,
        sortable: true,
        subheading: state.member.pickups.ICC.reduce((a, b) => a + b),
      },
      {
        field: 'rs',
        label: 'RS',
        numeric: true,
        sortable: true,
        subheading: state.member.pickups.RS.reduce((a, b) => a + b),
      },
      {
        field: 'togc',
        label: 'TOGC',
        numeric: true,
        sortable: true,
        subheading: state.member.pickups.TOGC.reduce((a, b) => a + b),
      },
      {
        field: 'total',
        label: 'Total',
        numeric: true,
        sortable: true,
        subheading: state.member.pickups.Total.reduce((a, b) => a + b),
      },
    ],
    specs: (state) => state.specTexts.map((s) => ({
      spec: s.name,
      icc: state.member.pickups.ICC[s.id],
      rs: state.member.pickups.RS[s.id],
      togc: state.member.pickups.TOGC[s.id],
      total: state.member.pickups.Total[s.id],
    })).filter((s) => s.total > 0),
    rolesChartData: (state) => ({
      labels: [
        'Tank',
        'Healer',
        'MDPS',
        'RDPS',
      ],
      datasets: [
        {
          backgroundColor: ['#f48cba', '#2c86dd', '#c69b6d', '#3fc7eb'],
          data: [
            state.member.pickups.roles.Total.Tank,
            state.member.pickups.roles.Total.Healer,
            state.member.pickups.roles.Total.MDPS,
            state.member.pickups.roles.Total.RDPS,
          ],
        },
        // {
        //   label: 'ICC',
        //   backgroundColor: ['#41B883', '#E46651', '#00D8FF', '#DD1B16'],
        //   data: [
        //     state.member.pickups.roles.ICC.Tank,
        //     state.member.pickups.roles.ICC.Healer,
        //     state.member.pickups.roles.ICC.MDPS,
        //     state.member.pickups.roles.ICC.RDPS,
        //   ],
        // },
        // {
        //   label: 'RS',
        //   backgroundColor: ['#41B883', '#E46651', '#00D8FF', '#DD1B16'],
        //   data: [
        //     state.member.pickups.roles.RS.Tank,
        //     state.member.pickups.roles.RS.Healer,
        //     state.member.pickups.roles.RS.MDPS,
        //     state.member.pickups.roles.RS.RDPS,
        //   ],
        // },
        // {
        //   label: 'TOGC',
        //   backgroundColor: ['#41B883', '#E46651', '#00D8FF', '#DD1B16'],
        //   data: [
        //     state.member.pickups.roles.TOGC.Tank,
        //     state.member.pickups.roles.TOGC.Healer,
        //     state.member.pickups.roles.TOGC.MDPS,
        //     state.member.pickups.roles.TOGC.RDPS,
        //   ],
        // },
      ],
    }),
  },
  components: {
    PlayerButton,
    Pie,
  },
  mounted() {
    this.id = this.$route.params.id;
    if (this.members.length === 0) {
      this.$store.dispatch('get_members');
    }
  },
};
</script>
