<template>
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Passion Leaderboards
      </p>
      <p class="subtitle">
        I am gonna put something else here.<br>
        Please get used to use &laquo;Raids&raquo; link in navigation.<br>
        And also please keep visiting this page. It's gonna be ready soon&trade;.
      </p>
    </div>
  </section>
</template>
