<template>
  <div>
    <div v-if="loaded.signups">
      <div class="signups">
        <b-tabs v-model="leftTab" type="is-boxed" :animated="false">
          <b-tab-item :label="'Signups (' + numberOfPlayers + ')'" icon="account-multiple">
            <b-notification type="is-danger is-light" role="alert" :closable="false" v-if="numberOfPlayers < 25" class="has-text-centered mb-3">
              Only <span class="has-text-weight-semibold">{{ numberOfPlayers }}</span> people signed up for this raid.
            </b-notification>
            <div v-for="role in Object.keys(listing)" :key="role" class="roleList">
              <h3 class="roleHeader">{{ role }}</h3>
              <div v-for="spec in listing[role]" :key="spec">
                <b-tooltip type="is-light"
                           position="is-right"
                           :active="signupFilters.showTooltips"
                           :delay="750"
                           v-for="signup in signups(spec)"
                           :key="'tooltip' + signup.mid">
                  <PlayerButton
                    class="playerButtonInListing"
                    :class="isPicked(signup.id) ? 'isPicked' : ''"
                    :spec="spec"
                    :preferred="isPreferred(signup, spec)"
                    @click="pickup(signup, spec)">
                    {{ signup.name }}
                  </PlayerButton>
                  <template v-slot:content>
                    <div class="white-space-pre">{{ signup.message | message }}</div>
                  </template>
                </b-tooltip>
              </div>
            </div>
          </b-tab-item>
          <b-tab-item label="Raid Composition" icon="playlist-check">
            <div class="raid-setup">
              <b-notification type="is-danger is-light" role="alert" :closable="false" v-if="playersNotSignedup" class="has-text-centered mb-3">
                <strong>{{ playersNotSignedup }}</strong> didn't signup for this raid!
              </b-notification>
              <b-notification
                v-if="raid.pickups.length == 0"
                :closable="false"
                class="has-text-centered mb-3"
                type="is-danger is-light"
                role="alert">
                Pickup more players to crate a raid setup!
              </b-notification>
            </div>
            <div class="columns raid-setup" v-show="raid.pickups.length > 0">
              <div class="column is-one-quarter pr-1" v-for="role in Object.keys(listing)" :key="role">
                <h4 class="has-text-centered roleHeader roleHeaderNoBorder mb-2">{{ role }}</h4>
                <ul class="raid-setup-list-2 m-auto">
                  <li v-for="pickup in pickups(role)" :key="'pickup' + pickup.id">
                    <PlayerButton
                      class="playerButtonInListing is-block"
                      :spec="pickup.spec"
                      @click="goToPlayer(pickup.id)">
                      {{ pickup.name }}
                    </PlayerButton>
                  </li>
                </ul>
              </div>
            </div>
          </b-tab-item>
          <b-tab-item label="Messages" icon="forum">
            <b-message :title="message.name" :closable="false" v-for="message in raid.signups.messages" :key="'error-message' + message.mid">
              <div class="white-space-break-spaces">
                {{ message.content }}
              </div>
            </b-message>
          </b-tab-item>
        </b-tabs>
      </div>
      <div class="right-panel">
        <b-tabs v-model="rightTab" type="is-boxed" :animated="false">
          <b-tab-item label="Composition">
            <b-field>
              <p class="control">
                <b-button icon-left="plus" @click="openAddPlayerModal" size="is-small" :loading="addPlayer.membersLoading">Add Player</b-button>
              </p>
              <b-button icon-left="refresh" @click="refreshSignups" size="is-small" expanded>Refresh Signups</b-button>
            </b-field>
            <b-notification type="is-danger is-light" role="alert" :closable="false" v-if="playersNotSignedup" class="has-text-centered mt-3 mb-2">
              <strong>{{ playersNotSignedup }}</strong> didn't signup for this raid!
            </b-notification>
            <div v-for="role in Object.keys(listing)" :key="role">
              <h4 class="has-text-centered roleHeader roleHeaderNoBorder mt-2 mb-2" v-show="pickups(role).length > 0">
                {{ role }} ({{ pickups(role).length }})
              </h4>
              <ul class="raid-setup-list m-auto">
                <li v-for="pickup in pickups(role)" :key="'pickup' + pickup.id">
                  <PlayerButton
                    class="playerButtonInListing is-block"
                    :spec="pickup.spec"
                    @click="removePickup(pickup.id)">
                    {{ pickup.name }}
                  </PlayerButton>
                </li>
              </ul>
            </div>
          </b-tab-item>
          <b-tab-item label="Filters">
            <b-field>
              <b-checkbox v-model="signupFilters.showTooltips">Show message in tooltips</b-checkbox>
            </b-field>
            <hr/>
            <b-field>
              <b-checkbox v-model="signupFilters.showAvailable">Show only available characters</b-checkbox>
            </b-field>
            <b-field>
              <b-checkbox v-model="signupFilters.showPickedUp">Show picked up players</b-checkbox>
            </b-field>
          </b-tab-item>
        </b-tabs>
      </div>
      <div class="right-panel-bottom has-text-centered">
        {{ raid.name }} <span :class="raid.pickups.length == 25 ? 'has-text-success' : 'has-text-danger'" class="has-text-weight-semibold">{{ raid.pickups.length }}/25</span> <span :class="signupsClass" class="has-text-weight-semibold">({{ numberOfPlayers }})</span>
      </div>
    </div>
    <div v-else>
      <div class="signups">
        <b-tabs v-model="leftTab" type="is-boxed">
          <b-tab-item label="Signups" icon="account-multiple">
            <div v-for="role in Object.keys(listing)" :key="role" class="roleList">
              <h3 class="roleHeader">{{ role }}</h3>
              <b-skeleton width="40%" size="is-large"></b-skeleton>
              <b-skeleton width="60%" size="is-large"></b-skeleton>
              <b-skeleton width="80%" size="is-large"></b-skeleton>
              <b-skeleton width="100%" size="is-large"></b-skeleton>
            </div>
          </b-tab-item>
          <b-tab-item label="Raid Composition" icon="playlist-check" disabled></b-tab-item>
          <b-tab-item label="Messages" icon="forum" disabled></b-tab-item>
        </b-tabs>
      </div>
      <div class="right-panel">
        <b-tabs v-model="rightTab" type="is-boxed">
          <b-tab-item label="Composition">
            <b-skeleton width="60%" size="is-large"></b-skeleton>
            <b-skeleton width="80%" size="is-large"></b-skeleton>
            <b-skeleton width="100%" size="is-large"></b-skeleton>
          </b-tab-item>
          <b-tab-item label="Filters">
          </b-tab-item>
        </b-tabs>
      </div>
      <div class="right-panel-bottom"></div>
    </div>
    <b-modal v-model="addPlayer.modal" has-modal-card scroll="keep">
      <form action="">
        <div class="modal-card" style="max-width: 350px;">
          <header class="modal-card-head">
            <p class="modal-card-title">Add Player</p>
            <button
              type="button"
              class="delete"
              @click="addPlayer.modal = false"/>
          </header>
          <section class="modal-card-body">
            <b-field label="Player">
              <b-select placeholder="Select a player" expanded v-model="addPlayer.id">
                <option
                  v-for="member in membersFiltered"
                  :value="member.id"
                  :key="member.id">
                  {{ member.name }}
                </option>
              </b-select>
            </b-field>

            <b-field label="Spec">
              <b-select placeholder="Select a spec" expanded v-model="addPlayer.spec">
                <option
                  v-for="spec in specTexts"
                  :value="spec.id"
                  :key="spec.id">
                  {{ spec.name }}
                </option>
              </b-select>
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button
              type="is-primary"
              @click="addExternalPlayer"
              :disabled="addPlayer.id === null || addPlayer.spec === null">
              Add Player
            </b-button>
          </footer>
        </div>
      </form>
    </b-modal>
  </div>
</template>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/mixins.sass";

.roleList:first-child .roleHeader {
  margin-top: 0;
}
.roleHeader {
  font-size: 1em;
  margin: 0.5em 0;
  border-bottom: 2px solid whitesmoke;
}
.roleHeaderNoBorder {
  border-bottom: none;
}
.raid-setup-list {
  max-width: 160px;
  .player-button {
    width: 100%;
  }
}
.raid-setup {
  max-width: 650px;
  margin: 0 auto;
}
.raid-setup-list-2 {
  max-width: 160px;
  margin: 0 auto;
  .player-button {
    width: 100%;
  }
}
.isPicked {
  opacity: 0.4;
}
.signups {
  @include tablet {
    margin-right: 290px;
  }
}
.right-panel {
  @include tablet {
    position: fixed;
    width: 300px;
    right: 0px;
    top: 70px;
    bottom: 50px;
    overflow-y: auto;
    padding: 0 20px;
    border-left: 2px solid whitesmoke;
  }
}
.right-panel-bottom {
  @include tablet {
    position: fixed;
    height: 50px;
    width: 300px;
    right: 0px;
    bottom: 0;
    overflow-y: auto;
    padding: 0 20px;
    border-left: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    line-height: 48px;
    padding: 0 20px;
  }
}
.white-space-break-spaces {
  white-space: break-spaces;
}
.white-space-pre {
  white-space: pre;
}
</style>

<script>
import { mapState, mapGetters } from 'vuex';
import PlayerButton from '@/components/PlayerButton.vue';

export default {
  data: () => ({
    id: null,
    loaded: {
      signups: false,
    },
    listing: {
      Tanks: [16, 0, 6, 32, 2],
      Healers: [15, 26, 18, 19, 8],
      MDPS: [4, 22, 31, 7, 17, 3, 1, 25, 21, 30],
      RDPS: [28, 5, 10, 20, 13, 27, 12, 11, 14, 24, 29],
    },
    leftTab: 0,
    rightTab: 0,
    signupFilters: {
      showTooltips: true,
      showAvailable: true,
      showPickedUp: true,
    },
    addPlayer: {
      modal: false,
      membersLoading: false,
      id: null,
      spec: null,
    },
  }),
  components: {
    PlayerButton,
  },
  filters: {
    message: (m) => m.replaceAll(/<:(.*?):.*?>/g, ':$1:'),
  },
  computed: {
    ...mapState([
      'raid',
      'members',
      'specTexts',
    ]),
    ...mapGetters([
      'name',
    ]),
    signups: (state) => (spec) => state.raid.signups.members.filter(
      (m) => m.characters.some((c) => c.specs.some((s) => s === spec) && (!state.signupFilters.showAvailable || c.availability[state.raid.type])),
    )
      .filter((m) => (state.signupFilters.showPickedUp || !state.isPicked(m.id)))
      .slice()
      .sort((a, b) => (b.rank - a.rank))
      .sort((a, b) => (a.characters.some((c) => c.specs.some((s) => s === spec) && c.preferred[state.raid.type]) ? -1 : 0)),
    isPicked: (state) => (playerId) => state.raid.pickups.some((p) => p.id === playerId),
    pickups: (state) => (role) => state.raid.pickups.filter((p) => state.listing[role].includes(p.spec)),
    playersNotSignedup: (state) => state.raid.pickups.filter((p) => !state.raid.signups.members.some((m) => p.id === m.id && m.characters.length > 0)).map((p) => p.name).join(', '),
    numberOfPlayers: (state) => new Set(state.raid.signups.members.filter((m) => m.characters.some((c) => c.availability[state.raid.type])).map((m) => m.id)).size,
    memberNames: (state) => (option) => state.membersFiltered.filter((n) => n.toLowerCase().indexOf(state.memberName.toLowerCase()) >= 0),
    membersFiltered: (state) => state.members.filter((m) => m.roles.length > 0).slice().sort((a, b) => (a.rank !== b.rank ? (b.rank - a.rank) : (a.nick || a.username).localeCompare(b.nick || b.username))).map((m) => ({
      id: m.id,
      name: m.nick || m.username,
    })),
    signupsClass: (state) => {
      if (state.numberOfPlayers < 25) {
        return 'has-text-danger';
      }
      if (state.numberOfPlayers < 29) {
        return 'has-text-warning-dark';
      }
      return 'has-text-success';
    },
  },
  methods: {
    isPreferred(signup, spec) {
      return signup.characters.some((c) => c.preferred[this.raid.type] && c.specs.some((s) => s === spec));
    },
    pickup(signup, spec) {
      const playerInList = this.raid.pickups.find((p) => p.id === signup.id);
      if (playerInList) {
        this.$buefy.snackbar.open({
          message: `${signup.name} is already picked!`,
          type: 'is-danger',
        });
        return false;
      }

      this.$store.commit('add_pickup', {
        id: signup.id,
        name: signup.name,
        spec,
      });

      this.raid.pickups.sort((a, b) => a.spec - b.spec);

      // Always switch right side tab to Raid Composition
      this.rightTab = 0;
      this.updatePickups();

      return true;
    },
    removePickup(playerId) {
      const index = this.raid.pickups.findIndex((p) => p.id === playerId);
      if (index > -1) {
        this.raid.pickups.splice(index, 1);
        this.updatePickups();
      }
    },
    updatePickups() {
      this.$store.dispatch('update_pickups', {
        id: this.id,
        pickups: this.raid.pickups,
      });
    },
    refreshSignups() {
      this.rightTab = 0;
      this.loaded.signups = false;
      this.$store.dispatch('update_signups', {
        id: this.id,
        channel: this.raid.channel,
        type: this.raid.type,
      }).then(() => {
        this.loaded.signups = true;
      });
    },
    openAddPlayerModal() {
      this.addPlayer.modal = true;
      if (this.members.length === 0) {
        this.addPlayer.membersLoading = true;
        this.$store.dispatch('get_members').then(() => {
          this.addPlayer.membersLoading = false;
        });
      }
    },
    addExternalPlayer() {
      if (this.pickup({ id: this.addPlayer.id, name: this.name(this.addPlayer.id) }, this.addPlayer.spec)) {
        this.addPlayer.modal = false;
      }
    },
    goToPlayer(id) {
      this.$router.push({ name: 'memberDetails', params: { id } });
    },
  },
  mounted() {
    this.id = this.$route.params.id;
    this.$store.dispatch('get_raid', this.$route.params.id).then(() => {
      this.loaded.signups = true;
    });
  },
};
</script>
