<template>
  <div v-if="raids.length > 0">
    <section class="hero is-hidden">
      <div class="hero-body">
        <p class="title">
          Passion Raids
        </p>
        <p class="subtitle">
          List of Active and Archived Raids
        </p>
      </div>
    </section>
    <b-modal v-model="deleteRaid.modal" has-modal-card scroll="keep">
      <div class="modal-card" style="max-width: 450px;">
        <header class="modal-card-head">
          <p class="modal-card-title">Delete Raid</p>
          <button
            type="button"
            class="delete"
            @click="deleteRaid.modal = false"/>
        </header>
        <section class="modal-card-body">
          <p class="mb-2">Do you want to delete raid: <strong>{{ deleteRaid.name }}</strong></p>
          <p class="has-text-danger mb-2">This action is irreversible and can cause data loss.</p>
          <p class="has-text-danger">Please use archive function in order to save raid data.</p>
        </section>
        <footer class="modal-card-foot">
          <b-button type="is-danger" :loading="deleteRaid.loading" @click="deleteRaidForGood">
            Delete Raid
          </b-button>
          <b-button @click="deleteRaid.modal = false" :disabled="deleteRaid.loading">
            Cancel
          </b-button>
        </footer>
      </div>
    </b-modal>
    <b-tabs v-model="activeTab" type="is-boxed" :animated="false">
      <b-tab-item :label="raidType" v-for="raidType in ['Active Raids', 'Archived Raids']" :key="raidType">
        <b-table :data="raidsFiltered(raidType)" :paginated="true" :per-page="15" striped>
          <b-table-column field="name" label="Name" v-slot="props">
            <router-link :to="{ name: 'raidEditor', params: { id: props.row.id } }">{{ props.row.name }}</router-link>
          </b-table-column>
          <b-table-column field="type" label="Type" v-slot="props" width="75">
            {{ props.row.type }}
          </b-table-column>
          <b-table-column field="channel" label="Channel" v-slot="props" width="250">
            {{ channelName(props.row.channel) }}
          </b-table-column>
          <b-table-column field="date" label="Created" v-slot="props" width="150">
            <b-tooltip :label="props.row.created">
              {{ props.row.created | relativeDate }}
            </b-tooltip>
          </b-table-column>
          <b-table-column field="date" label="Modified" v-slot="props" width="150">
            <b-tooltip :label="props.row.modified">
              {{ props.row.modified | relativeDate }}
            </b-tooltip>
          </b-table-column>
          <b-table-column field="date" label="" v-slot="props" width="100">
            <div class="has-text-right has-addons field">
              <p class="control" v-if="raidType == 'Active Raids'">
                <b-button type="is-primary" size="is-small" outlined icon-left="archive" @click="archiveRaid(props.row.id)"></b-button>
              </p>
              <p class="control">
                <b-button type="is-danger" size="is-small" outlined icon-left="delete" @click="showDeleteRaidModal(props.row.id, props.row.name)"></b-button>
              </p>
            </div>
          </b-table-column>
        </b-table>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style lang="scss" scoped>
h2 {
  font-size: 1.5em;
  padding-left: 0.5em;
  margin-bottom: 0.25em;
}
</style>

<script>
import { mapState, mapGetters } from 'vuex';
import { DateTime } from 'luxon';

export default {
  data: () => ({
    deleteRaid: {
      id: null,
      name: null,
      modal: false,
      loading: false,
    },
    activeTab: 0,
  }),
  computed: {
    ...mapGetters([
      'name',
      'channelName',
    ]),
    ...mapState([
      'raids',
      'channels',
    ]),
    raidsFiltered: (state) => (raidType) => state.raids.filter((r) => r.status === (raidType === 'Active Raids' ? 0 : 1)),
  },
  methods: {
    showDeleteRaidModal(id, name) {
      this.deleteRaid.id = id;
      this.deleteRaid.name = name;
      this.deleteRaid.modal = true;
    },
    deleteRaidForGood() {
      this.deleteRaid.loading = true;
      this.$store.dispatch('delete_raid', this.deleteRaid.id).then(() => {
        this.deleteRaid.loading = false;
        this.deleteRaid.modal = false;
      });
    },
    archiveRaid(id) {
      this.$store.dispatch('archive_raid', id);
    },
  },
  filters: {
    relativeDate(d) {
      return DateTime.fromISO(d).toRelative();
    },
  },
  mounted() {
    this.$store.dispatch('get_raids');
  },
};
</script>
